/* pages/detail/detail.wxss */
.detail {
    padding: 30rpx;
    .title {
        font-size: 50rpx;
        line-height: 1.5em;
    }
    .info {
        font-size: 28rpx;
        color: #999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30rpx 0;
        .left {
            text {
                padding-right: 15rpx;
            }
        }
        .right {
            display: flex;
            align-items: center;
            color: var(--themeColor);
            position: relative;
            .share {
                position: absolute;
                opacity: 0;
            }
        }
    }
    .content {
        margin: 30rpx 0;
    }
    .footer {
        padding: 30rpx;
        background-color: var(--globalBgColor2);
        font-size: 28rpx;
        color: #888;
        .top {
            font-size: 30rpx;
            padding-bottom: 15rpx;
        }
    }
}
.classify {
    padding: 30rpx 50rpx;
    .image {
        border-radius: 20rpx;
    }
    .title {
        text-align: center;
        padding: 20rpx 0;
        font-size: 50rpx;
        letter-spacing: 0.3em;
        font-weight: 600;
        color: var(--themeColor);
        margin-bottom: 10rpx;
    }
    .info {
        background-color: var(--globalBgColor2);
        padding: 20rpx;
        border-radius: 20rpx;
        .row {
            display: flex;
            justify-content: space-between;
            line-height: 2em;
            .left {
                font-size: 30rpx;
                white-space: nowrap;
                color: #aaa;
            }
            .right {
                color: #666;
                white-space: nowrap;
            }
        }
    }
}