/* components/classity-item/classity-item.wxss */
.classItem {
    border: 1rpx solid #eee;
    .pic {
        .image {
            width: 100%;
        }
    }
    .content {
        padding: 30rpx 20rpx;
        .title {
            font-size: 36rpx;
            color: #333;
            border-bottom: 1rpx solid #efefef;
            padding-bottom: 20rpx;
            margin-bottom: 10rpx;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .info {
            .row {
                display: flex;
                font-size: 28rpx;
                color: #aaa;
                line-height: 2em;
                .left {
                    font-size: 26rpx;
                    white-space: nowrap;
                }
                .right {
                    color: #666;
                    white-space: nowrap;
                }
            }
        }
    }
}